<a class="btn btn-danger float-right" href="/document/list"><i class="fa fa-list-alt"></i> ดูข้อมูลทั้งหมด</a>
<h4>ข้อมูลการเข้าสระว่ายน้ำ</h4>



<form autocomplete="off">

    <div class="panel panel-default">
        <div class="panel-heading"><br><h5>ปีการศึกษา 2559</h5></div>
        <div class="panel-body">
            <a class="btn btn-secondary" href="/document/list1"><i class="fa fa-list-alt"></i> มกราคม</a>
            <a class="btn btn-secondary" href="/document/list2"><i class="fa fa-list-alt"></i> กุมภาพันธ์</a>
            <a class="btn btn-secondary" href="/document/list3"><i class="fa fa-list-alt"></i> มีนาคม</a>
            <a class="btn btn-secondary" href="/document/list4"><i class="fa fa-list-alt"></i> เมษายน</a>
            <a class="btn btn-secondary" href="/document/list5"><i class="fa fa-list-alt"></i> พฤษภาคม</a>
            <a class="btn btn-secondary" href="/document/list6"><i class="fa fa-list-alt"></i> มิถุนายน</a>
            <a class="btn btn-secondary" href="/document/list7"><i class="fa fa-list-alt"></i> กรกฎาคม</a>
            <a class="btn btn-secondary" href="/document/list8"><i class="fa fa-list-alt"></i> สิงหาคม</a> <br><br>
         
            <a class="btn btn-secondary" href="/document/list9"><i class="fa fa-list-alt"></i> กันยายน</a>
            <a class="btn btn-secondary" href="/document/list10"><i class="fa fa-list-alt"></i> ตุลาคม</a>
            <a class="btn btn-secondary" href="/document/list11"><i class="fa fa-list-alt"></i> พฤษจิกายน</a>
            <a class="btn btn-secondary" href="/document/list12"><i class="fa fa-list-alt"></i> ธันวาคม</a>
            <a class="btn btn-danger" href="/document/list2559"><i class="fa fa-list-alt"></i> ดูข้อมูลปี 2559</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><br><h5>ปีการศึกษา 2560</h5></div>
        <div class="panel-body">
            <a class="btn btn-secondary" href="/document/list13"><i class="fa fa-list-alt"></i> มกราคม</a>
            <a class="btn btn-secondary" href="/document/list14"><i class="fa fa-list-alt"></i> กุมภาพันธ์</a>
            <a class="btn btn-secondary" href="/document/list15"><i class="fa fa-list-alt"></i> มีนาคม</a>
            <a class="btn btn-secondary" href="/document/list16"><i class="fa fa-list-alt"></i> เมษายน</a>
            <a class="btn btn-secondary" href="/document/list17"><i class="fa fa-list-alt"></i> พฤษภาคม</a>
            <a class="btn btn-secondary" href="/document/list18"><i class="fa fa-list-alt"></i> มิถุนายน</a>
            <a class="btn btn-secondary" href="/document/list19"><i class="fa fa-list-alt"></i> กรกฎาคม</a>
            <a class="btn btn-secondary" href="/document/list20"><i class="fa fa-list-alt"></i> สิงหาคม</a> <br><br>
         
            <a class="btn btn-secondary" href="/document/list21"><i class="fa fa-list-alt"></i> กันยายน</a>
            <a class="btn btn-secondary" href="/document/list22"><i class="fa fa-list-alt"></i> ตุลาคม</a>
            <a class="btn btn-secondary" href="/document/list23"><i class="fa fa-list-alt"></i> พฤษจิกายน</a>
            <a class="btn btn-secondary" href="/document/list24"><i class="fa fa-list-alt"></i> ธันวาคม</a>
            <a class="btn btn-danger" href="/document/list2560"><i class="fa fa-list-alt"></i> ดูข้อมูลปี 2560</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><br><h5>ปีการศึกษา 2561</h5></div>
        <div class="panel-body">
            <a class="btn btn-secondary" href="/document/list25"><i class="fa fa-list-alt"></i> มกราคม</a>
            <a class="btn btn-secondary" href="/document/list26"><i class="fa fa-list-alt"></i> กุมภาพันธ์</a>
            <a class="btn btn-secondary" href="/document/list27"><i class="fa fa-list-alt"></i> มีนาคม</a>
            <a class="btn btn-secondary" href="/document/list28"><i class="fa fa-list-alt"></i> เมษายน</a>
            <a class="btn btn-secondary" href="/document/list29"><i class="fa fa-list-alt"></i> พฤษภาคม</a>
            <a class="btn btn-secondary" href="/document/list30"><i class="fa fa-list-alt"></i> มิถุนายน</a>
            <a class="btn btn-secondary" href="/document/list31"><i class="fa fa-list-alt"></i> กรกฎาคม</a>
            <a class="btn btn-secondary" href="/document/list32"><i class="fa fa-list-alt"></i> สิงหาคม</a> <br><br>
         
            <a class="btn btn-secondary" href="/document/list33"><i class="fa fa-list-alt"></i> กันยายน</a>
            <a class="btn btn-secondary" href="/document/list34"><i class="fa fa-list-alt"></i> ตุลาคม</a>
            <a class="btn btn-secondary" href="/document/list35"><i class="fa fa-list-alt"></i> พฤษจิกายน</a>
            <a class="btn btn-secondary" href="/document/list36"><i class="fa fa-list-alt"></i> ธันวาคม</a>
            <a class="btn btn-danger" href="/document/list2561"><i class="fa fa-list-alt"></i> ดูข้อมูลปี 2561</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><br><h5>ดาวโหลดเอกสาร</h5></div>
        <div class="panel-body">
            <a class="btn btn-danger" href=""><i class="fa fa-list-alt"></i> ปีการศึกษา 2559</a>
            <a class="btn btn-danger" href=""><i class="fa fa-list-alt"></i> ปีการศึกษา 2560</a>
            <a class="btn btn-danger" href=""><i class="fa fa-list-alt"></i> ปีการศึกษา 2561</a>
            
        </div>
    </div>

</form>